[user]
	email = is@wico.cc
	name = Wico Wen
[core]
	editor = /usr/bin/env vim
    excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
